<h1>Listing navigation items</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
  </tr>

<% @nav_items.each do |item| %>
  <tr>
    <td><%= link_to item.title, item.path %></td>
    <td><%= link_to 'Edit', edit_nav_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Nav Item', new_nav_item_path %>
