<div id="content">

<h1><%= t 'songs.archive' %></h1>

// LOMAKE
<br/><br/>
<div id="tagcloud">
	TAGIT TAHAN
</div>

<br/><br/></br/>
<%= link_to t('songs.new'), new_song_path %>

<div class="songlist">
<ul>
<% @songs.each do |song| %>
  <li>
    <%= link_to song.name, song %>
  </li>
<% end %>
</ul>
<br/></br/>

</div>
</div>
