<h1><%= t 'songs.archive' %></h1>

<%= link_to t('songs.new'), new_song_path %>

<ul>
<!--Tuija is nice :D-->

<% @songs.each do |song| %>
  <li>
    <%= link_to song.name, song %>
  </li>
<% end %>
</ul>
<!-- testi :) -->
