<h1><%= t 'songs.archive' %></h1>

// LOMAKE
DIV_BOKSI TAGEILLE

LISTA LAULUILLE TOHON ALLE


<%= link_to t('songs.new'), new_song_path %>

<ul>
<% @songs.each do |song| %>
  <li>
    <%= link_to song.name, song %>
  </li>
<% end %>
</ul>