/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

body {
	color: #401010;
	background-color: #f9f0ed;
	font-family: verdana, tahoma, helvetica, sans-serif;
	font-size: 14px;
}

table, tr, td {
	border-width: 0px;
}

input, textarea {
	border-color: #401010;
	background-color: #ead5d5;
	color: #401010;
	font-family: verdana, tahoma, helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-family: tahoma, verdana, helvetica, sans-serif;
	font-size: 24px;	
	font-weight: normal;
}

a {
	font-family: Big Caslon, helvetica, serif;
	color: #eecfb8;
	text-align: center;
	text-decoration: none;
	
	border: 2px solid #401010;
	background-color: #731d1d;
}

a:hover, a:active {
	text-decoration: none;
	background-color: #660000;
	color: #a6867b;
}

.rightside a, .fullcontent a {
	font-family: verdana, tahoma, sans-serif;
	color: #401010;
	font-size: 14px;
	text-decoration: none;
	
	border: 0px solid #401010;
	background-color: #f9f0ed;
}

.cont_navi a {
	font-family: verdana, tahoma, helvetica, sans-serif;
	font-size: 14px;
	
	padding: 5px;
	line-height: 35px;	
}

#wrapper {
	margin: 0 auto;
	width: 964px;
}



.header {
	position: relative;
	left: 0px;
	top: 0px;
	padding: 3px;
	
	border:4px solid #401010;
	border-bottom: 2px solid #401010;
	background-image:url(headerkuva.jpg);
	text-align: right;
	
	width: 950px;
	height: 127px;	
}

.navigation {
	position: relative;
	left: 0px;
	top: -3px;
	
	border:2px solid #401010;
	background-color: #731d1d;
	width: 960px;
	height: 40px;
	
	margin: 0px;
	padding: 0px;
}

.content {
	position: relative;
	top: 30px;
}

.cont_navi {
	width: 250px;
	height: 0px;
	line-height:50%;
	
	position: relative;
	left: -30px;
}

.cont_navi li {
	list-style: none;	
}

.rightside {
	width: 770px;
	
	position: relative;
	left: 190px;
	top: -22px;	
	text-align: left;
}

.navigation {
  position: relative;
}

.navigation ul {
	list-style: none;
	padding: 0px;
	margin: 0px; 
}

.navigation li {
	list-style: none;
	float: left;
	border: 0px;
	padding: 0px;
	margin: 0px;
	
	width: 25%;
}
 
.navigation a {
	display: block;
	font-size: 20px;
	padding: 8px;
	line-height: 20px;
}

.navigation .active > a {
  background: rgb(85,26,20); 
  }

.navigation > ul > li > ul {
  position: absolute;
  left: 0;
  margin-top: 0.5em;
  top: 36px;
  width: 25%;
}

.navigation > ul > li > ul li {
  width: 100%;
  margin: 10px 0 0;
}

.navigation > ul > li > ul ul {
  padding-left: 2em;
}

#content {
  margin-left: 28%;
}

body.nav-depth-1 #content {
  margin-left: 0;
}

.header ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.header li {
	padding: 0px;
	margin: 0px;
}

.header a {	
	font-size: 15px;
	padding: 5px;
	line-height: 35px;
}

.songlist {
  width: 65%;
  padding: 0px;
  margin: 1em 0;
}


.songlist ul {
  list-style: none;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: 2px solid #401010;
}

.songlist li {
  list-style: none;
  
  border: 2px solid #401010;
  border-bottom: 0;
  background-color: #fefdfd;
}
  
.songlist a {
  font-family: verdana, tahoma, sans-serif;
  color: #401010;
  font-size: 14px;
  text-decoration: none;
  border: 0px;
  padding: 0 0 0 0.5em;
  background: none;
  display: block;
  height: 30px;
  line-height: 30px;
  text-align: left;
}

.cont_navi a {
  font-family: verdana, tahoma, helvetica, sans-serif;
  font-size: 14px;
  
  padding: 5px;
  line-height: 35px;  
}

th {
  text-align: left;
}

.flash-notice, .flash-error {
  padding: 10px;
}

.flash-notice {
  background: #AFA;
  color: #383;
}

.flash-error {
  background: #D00;
  color: #FFF;
}

#admin-nav, #devise-links, .actions, .field {
  margin: 1em 0;
}

.field small {
  display: block;
}

.error_explanation {
  border: 1px solid #D00;
  background: #FFF;
  color: #D00;
}

.error_explanation h2 {
  margin: 0 0 1em;
  padding: 0.5em 0.7em;
  font-size: 1em;
  font-weight: bold;
  color: #FFF;
  background: #D00;
}

.field_with_errors {
  color: #D00;
  font-weight: bold;
}

label {
  display: block;
}

.checkbox label {
  display: inline;
}
