h2 {
  font-family: tahoma, verdana, helvetica, sans-serif;
  font-size: 19px;  
  font-weight: normal;
  background-color: #c0c0c0;
}

#tagcloud {
  background-color: #fefdfd;
  width: 300px;
  border:2px solid #401010;
  padding: 10px;
  margin: 0 0 2em 2em;
  float: right;
}
  
#tagcloud a{
  font-family: helvetica, serif;
  color: #401010;
  text-align: center;
  text-decoration: none;
  border: 0px;
  background-color: rgb(255,255,255);
  }

#song {
  float: left;
  width: 430px;
}

#information {
  float: right;
  width: 430px;
}
  
.css1 { font-size: 0.8em; }
.css2 { font-size: 1.1em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.7em; }