<p><%= t "devise.mail.welcome", :user => @resource.nickname %></p>

<p><%= t 'devise.mail.comfirm_instrucions' %></p>

<p><%= link_to t('devise.mail.confirm_link'), confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
